.canvas{
    border-bottom: 1px black solid;
    image-rendering: pixelated;
    margin-left: -8px;
    margin-top: -8px;
}

.active{
    outline-color: lime;
    outline-width: 1px;
    outline-style: solid;
}