body {
  background-color: #1e1e1e;
  color: snow;
}

ul {
  padding: 0;
  width: fit-content;
}

li {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr auto;
  outline-style: solid;
  outline-width: thin;
}

span {
  padding: 0.5em;
}

.pending {
  color: darkgray;
}

.failed {
  background-color: crimson;
}

.editing {
  background-color: dimgray;
}

a {
  color: snow;
  background-color: slategray;
  text-decoration-line: none;
  margin: 0.5em;
  padding: 0.5em;
}

nav {
  display: flex;
  flex-wrap: wrap;
}

.active {
  background-color: darkgoldenrod;
}

#noteForm > input{
  min-width: calc(95% - 2em);
}

#noteForm > input[type=submit]{
  min-width: 2em;
}

#noteForm {
  margin-bottom: 2em;
}

#dialogForm {
  display: flex;
  flex-direction: column;
}

#noteDiv {
  margin-left: 0.5em;
  width: fit-content;
}